/* General styles */
body 
{
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#ffffee url('../img/samurai-sword.png') no-repeat right bottom;
    background-attachment: fixed;
    margin-right: 200px;
    color: #111;
}
p 
{
    margin:.4em 0 .8em 0;
    padding:0;
    font-size: 1em;
}
/* Header */
#header
{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: left;
    border-bottom:1px dotted #911;
    color: inherit;
    background-color: transparent;
}

/* Footer */
#footer 
{
    clear:both;
    position: absolute;
    text-align: right;
    top: 5px;
    right: 5px;
    font-size: 8pt;
    font-family: Liberation Sans Mono, verdana;
    color: #999;
    background-color: transparent;
}
#footer p 
{
    padding:10px;
    margin:0;
    color: inherit;
    background-color: transparent;
}

/* Elements */
a, a:active, a:visited
{
    background-color: transparent;
    color: #111;
    text-decoration: none;
}
a:hover
{
    text-decoration: underline;
    color: inherit;
    background-color: transparent;
}

.semihidden, .semihidden:hover, .semihidden:active, .semihidden:visited
{
    color: transparent;
    background-color: transparent;
    text-decoration: none;
}

.hidden, .hidden:hover, .hidden:active, .hidden:visited
{
    visibility: hidden;
}

.shadow
{
    color: #eee;
    background-color: transparent;
}

.imglink, .imglink:active, .imglink:visited
{
    background-color: transparent;
    color: #125;
    text-decoration: none;
    padding:0;
    border: 0;
}
.imglink:hover
{
    padding:0;
    border: 0;
    color: inherit;
    background-color: transparent;
}
.bold
{
    font-weight: bold;
}
.rightalign
{
    right: 10px;
    text-align: right;
}

/* Content */
#content
{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 5%;
    text-align: left;
    color: inherit;
    background-color: transparent;
}
.small
{
    font-size: 8pt;
    color: inherit;
    background-color: transparent;
}
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: inherit;
    background-color: transparent;
}
.sub
{
    text-decoration: underline;
    font-weight: bold;
    color: inherit;
    background-color: transparent;
}
