td, th
{
    border: 1px dotted #2aa198;
}

/* General styles */
body 
{
    margin:0;
    padding:0;
    border:0;			/* This removes the border around the viewport in old versions of IE */
    width:100%;
    background:#002b36;
    margin-right: 200px;
    color: #839496;
}

