html {
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
  overflow: hidden;
}

#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow:
    1416px 1929px #92ec00,
    308px 905px #92ec00,
    730px 1945px #92ec00,
    1075px 62px #92ec00,
    1118px 1370px #92ec00,
    1781px 922px #92ec00,
    1621px 1575px #92ec00,
    1480px 1456px #92ec00,
    843px 247px #92ec00,
    841px 1816px #92ec00,
    961px 1710px #92ec00,
    992px 388px #92ec00,
    195px 364px #92ec00,
    1341px 307px #92ec00,
    838px 649px #92ec00,
    364px 1518px #92ec00,
    1792px 756px #92ec00,
    1805px 1187px #92ec00,
    1218px 1904px #92ec00,
    1073px 1711px #92ec00,
    978px 1066px #92ec00,
    1513px 80px #92ec00,
    871px 383px #92ec00,
    649px 652px #92ec00,
    1706px 1979px #92ec00,
    15px 700px #92ec00,
    752px 164px #92ec00,
    898px 1591px #92ec00,
    1012px 1850px #92ec00,
    1170px 863px #92ec00,
    1280px 771px #92ec00,
    1993px 1555px #92ec00,
    1644px 406px #92ec00,
    1692px 1268px #92ec00,
    620px 1128px #92ec00,
    1329px 185px #92ec00,
    1651px 1651px #92ec00,
    887px 1374px #92ec00,
    1809px 1433px #92ec00,
    1645px 1040px #92ec00,
    1327px 339px #92ec00,
    837px 1309px #92ec00,
    1229px 270px #92ec00,
    229px 833px #92ec00,
    181px 1480px #92ec00,
    889px 117px #92ec00,
    1037px 1370px #92ec00,
    383px 681px #92ec00,
    1331px 749px #92ec00,
    1856px 1719px #92ec00,
    1044px 1690px #92ec00,
    805px 48px #92ec00,
    634px 840px #92ec00,
    1336px 1533px #92ec00,
    1172px 859px #92ec00,
    36px 1215px #92ec00,
    245px 1140px #92ec00,
    341px 986px #92ec00,
    277px 1450px #92ec00,
    1951px 1788px #92ec00,
    610px 250px #92ec00,
    427px 1045px #92ec00,
    215px 535px #92ec00,
    1554px 383px #92ec00,
    555px 1096px #92ec00,
    1754px 1078px #92ec00,
    521px 262px #92ec00,
    139px 1112px #92ec00,
    1951px 1057px #92ec00,
    735px 1319px #92ec00,
    1958px 569px #92ec00,
    1546px 1543px #92ec00,
    729px 66px #92ec00,
    1666px 1286px #92ec00,
    1711px 502px #92ec00,
    7px 686px #92ec00,
    414px 1579px #92ec00,
    199px 1629px #92ec00,
    490px 1893px #92ec00,
    245px 1015px #92ec00,
    688px 1383px #92ec00,
    1645px 477px #92ec00,
    6px 301px #92ec00,
    1608px 416px #92ec00,
    217px 1675px #92ec00,
    1555px 1936px #92ec00,
    1983px 1398px #92ec00,
    957px 567px #92ec00,
    994px 850px #92ec00,
    422px 440px #92ec00,
    1335px 1393px #92ec00,
    882px 1603px #92ec00,
    513px 1332px #92ec00,
    1184px 646px #92ec00,
    810px 1516px #92ec00,
    366px 800px #92ec00,
    1839px 1015px #92ec00,
    1353px 1012px #92ec00,
    1250px 1773px #92ec00,
    546px 1669px #92ec00,
    618px 1656px #92ec00,
    1310px 2000px #92ec00,
    1458px 1650px #92ec00,
    1056px 1916px #92ec00,
    735px 157px #92ec00,
    246px 1990px #92ec00,
    662px 574px #92ec00,
    679px 1573px #92ec00,
    203px 460px #92ec00,
    1168px 549px #92ec00,
    1971px 566px #92ec00,
    1322px 1675px #92ec00,
    351px 1296px #92ec00,
    362px 1981px #92ec00,
    283px 1092px #92ec00,
    179px 1872px #92ec00,
    775px 992px #92ec00,
    1169px 1694px #92ec00,
    50px 136px #92ec00,
    256px 720px #92ec00,
    213px 3px #92ec00,
    42px 1874px #92ec00,
    1136px 1064px #92ec00,
    1918px 1610px #92ec00,
    1106px 951px #92ec00,
    1829px 1087px #92ec00,
    1218px 1726px #92ec00,
    250px 1828px #92ec00,
    688px 524px #92ec00,
    1132px 179px #92ec00,
    582px 544px #92ec00,
    1642px 1215px #92ec00,
    626px 247px #92ec00,
    1301px 1810px #92ec00,
    332px 1167px #92ec00,
    1676px 333px #92ec00,
    1456px 1295px #92ec00,
    506px 808px #92ec00,
    828px 1125px #92ec00,
    848px 1131px #92ec00,
    1616px 382px #92ec00,
    332px 371px #92ec00,
    1159px 412px #92ec00,
    733px 678px #92ec00,
    1434px 1341px #92ec00,
    1858px 458px #92ec00,
    57px 250px #92ec00,
    444px 945px #92ec00,
    1529px 1507px #92ec00,
    1970px 372px #92ec00,
    475px 1115px #92ec00,
    679px 539px #92ec00,
    1028px 508px #92ec00,
    853px 1994px #92ec00,
    629px 1266px #92ec00,
    824px 1676px #92ec00,
    1028px 1040px #92ec00,
    64px 1270px #92ec00,
    362px 81px #92ec00,
    1252px 1348px #92ec00,
    1779px 758px #92ec00,
    450px 1883px #92ec00,
    706px 792px #92ec00,
    374px 1981px #92ec00,
    606px 580px #92ec00,
    1292px 361px #92ec00,
    1045px 1240px #92ec00,
    1831px 1964px #92ec00,
    1113px 1133px #92ec00,
    1581px 1648px #92ec00,
    484px 948px #92ec00,
    871px 17px #92ec00,
    1334px 893px #92ec00,
    3px 1273px #92ec00,
    1875px 1668px #92ec00,
    966px 656px #92ec00,
    159px 1562px #92ec00,
    302px 716px #92ec00,
    771px 1345px #92ec00,
    130px 1116px #92ec00,
    827px 954px #92ec00,
    1089px 803px #92ec00,
    950px 451px #92ec00,
    607px 1370px #92ec00,
    133px 759px #92ec00,
    1081px 1931px #92ec00,
    1959px 1958px #92ec00,
    492px 1658px #92ec00,
    1767px 1058px #92ec00,
    1739px 746px #92ec00,
    652px 1710px #92ec00,
    1890px 1066px #92ec00,
    1970px 1439px #92ec00,
    307px 163px #92ec00,
    1568px 1441px #92ec00,
    47px 1465px #92ec00,
    219px 1608px #92ec00,
    823px 131px #92ec00,
    718px 290px #92ec00,
    964px 1670px #92ec00,
    613px 457px #92ec00,
    96px 481px #92ec00,
    830px 1661px #92ec00,
    1875px 1547px #92ec00,
    1303px 222px #92ec00,
    1238px 118px #92ec00,
    1378px 1861px #92ec00,
    692px 482px #92ec00,
    608px 616px #92ec00,
    231px 380px #92ec00,
    993px 1013px #92ec00,
    1131px 1044px #92ec00,
    1346px 820px #92ec00,
    1170px 499px #92ec00,
    1109px 1844px #92ec00,
    1717px 1285px #92ec00,
    140px 1444px #92ec00,
    1048px 1583px #92ec00,
    1118px 1430px #92ec00,
    270px 272px #92ec00,
    175px 211px #92ec00,
    1615px 1421px #92ec00,
    130px 1324px #92ec00,
    1557px 173px #92ec00,
    1215px 1222px #92ec00,
    688px 1936px #92ec00,
    581px 301px #92ec00,
    1453px 498px #92ec00,
    620px 1834px #92ec00,
    1774px 832px #92ec00,
    399px 1360px #92ec00,
    1325px 802px #92ec00,
    1158px 755px #92ec00,
    1759px 873px #92ec00,
    499px 921px #92ec00,
    409px 1776px #92ec00,
    944px 394px #92ec00,
    1603px 440px #92ec00,
    486px 880px #92ec00,
    784px 104px #92ec00,
    1817px 319px #92ec00,
    323px 1599px #92ec00,
    631px 691px #92ec00,
    1251px 179px #92ec00,
    1644px 1069px #92ec00,
    1422px 267px #92ec00,
    1541px 1319px #92ec00,
    1938px 1841px #92ec00,
    1263px 1755px #92ec00,
    1317px 460px #92ec00,
    853px 1132px #92ec00,
    853px 1826px #92ec00,
    775px 330px #92ec00,
    1273px 193px #92ec00,
    1732px 838px #92ec00,
    1909px 378px #92ec00,
    569px 1679px #92ec00,
    910px 1385px #92ec00,
    1406px 1241px #92ec00,
    174px 1902px #92ec00,
    1639px 1684px #92ec00,
    1413px 262px #92ec00,
    178px 1474px #92ec00,
    1614px 944px #92ec00,
    392px 1629px #92ec00,
    603px 713px #92ec00,
    189px 947px #92ec00,
    1560px 688px #92ec00,
    180px 1494px #92ec00,
    1088px 113px #92ec00,
    1884px 264px #92ec00,
    396px 1964px #92ec00,
    942px 1716px #92ec00,
    298px 148px #92ec00,
    618px 834px #92ec00,
    120px 1251px #92ec00,
    804px 21px #92ec00,
    1800px 1478px #92ec00,
    952px 1556px #92ec00,
    1721px 844px #92ec00,
    1123px 1242px #92ec00,
    487px 1211px #92ec00,
    1953px 1547px #92ec00,
    612px 1963px #92ec00,
    163px 526px #92ec00,
    1829px 501px #92ec00,
    190px 174px #92ec00,
    1653px 1062px #92ec00,
    292px 1385px #92ec00,
    1003px 394px #92ec00,
    391px 683px #92ec00,
    448px 494px #92ec00,
    1049px 962px #92ec00,
    1737px 1289px #92ec00,
    339px 736px #92ec00,
    540px 825px #92ec00,
    116px 1472px #92ec00,
    247px 692px #92ec00,
    282px 574px #92ec00,
    132px 1723px #92ec00,
    1850px 353px #92ec00,
    1793px 503px #92ec00,
    1192px 1526px #92ec00,
    494px 1359px #92ec00,
    1319px 515px #92ec00,
    1189px 1641px #92ec00,
    1530px 259px #92ec00,
    1058px 1132px #92ec00,
    635px 170px #92ec00,
    507px 1687px #92ec00,
    832px 1501px #92ec00,
    216px 273px #92ec00,
    1440px 47px #92ec00,
    963px 1060px #92ec00,
    848px 1656px #92ec00,
    421px 247px #92ec00,
    1439px 1479px #92ec00,
    987px 414px #92ec00,
    850px 851px #92ec00,
    1555px 18px #92ec00,
    1113px 818px #92ec00,
    1272px 202px #92ec00,
    1424px 1256px #92ec00,
    521px 958px #92ec00,
    1502px 1595px #92ec00,
    810px 717px #92ec00,
    734px 1865px #92ec00,
    777px 1136px #92ec00,
    230px 1977px #92ec00,
    560px 301px #92ec00,
    536px 1578px #92ec00,
    1794px 116px #92ec00,
    840px 225px #92ec00,
    247px 1043px #92ec00,
    1637px 817px #92ec00,
    1804px 1293px #92ec00,
    511px 1823px #92ec00,
    493px 1414px #92ec00,
    414px 1131px #92ec00,
    1283px 1247px #92ec00,
    1602px 1481px #92ec00,
    784px 562px #92ec00,
    437px 1801px #92ec00,
    660px 721px #92ec00,
    167px 626px #92ec00,
    1102px 1049px #92ec00,
    1672px 276px #92ec00,
    1860px 858px #92ec00,
    815px 1084px #92ec00,
    81px 752px #92ec00,
    1325px 844px #92ec00,
    424px 642px #92ec00,
    262px 934px #92ec00,
    1564px 1250px #92ec00,
    507px 405px #92ec00,
    524px 1228px #92ec00,
    1317px 1000px #92ec00,
    162px 1913px #92ec00,
    1413px 1327px #92ec00,
    1869px 23px #92ec00,
    1593px 587px #92ec00,
    1707px 1724px #92ec00,
    313px 231px #92ec00,
    155px 1492px #92ec00,
    72px 731px #92ec00,
    1107px 999px #92ec00,
    537px 1313px #92ec00,
    606px 886px #92ec00,
    700px 750px #92ec00,
    679px 1910px #92ec00,
    1095px 795px #92ec00,
    1132px 722px #92ec00,
    1089px 1549px #92ec00,
    197px 1393px #92ec00,
    974px 551px #92ec00,
    1611px 1242px #92ec00,
    1171px 862px #92ec00,
    1760px 1057px #92ec00,
    153px 1342px #92ec00,
    476px 1942px #92ec00,
    22px 331px #92ec00,
    58px 1874px #92ec00,
    501px 395px #92ec00,
    701px 441px #92ec00,
    46px 1119px #92ec00,
    1923px 1022px #92ec00,
    162px 295px #92ec00,
    403px 1748px #92ec00,
    835px 956px #92ec00,
    1456px 110px #92ec00,
    961px 1001px #92ec00,
    1933px 429px #92ec00,
    955px 1563px #92ec00,
    1826px 142px #92ec00,
    266px 1887px #92ec00,
    1609px 847px #92ec00,
    722px 1126px #92ec00,
    157px 1317px #92ec00,
    1530px 1657px #92ec00,
    1854px 735px #92ec00,
    605px 1559px #92ec00,
    1575px 268px #92ec00,
    589px 1824px #92ec00,
    855px 306px #92ec00,
    694px 1301px #92ec00,
    944px 383px #92ec00,
    422px 20px #92ec00,
    169px 688px #92ec00,
    1636px 880px #92ec00,
    133px 1844px #92ec00,
    1863px 1311px #92ec00,
    1343px 1156px #92ec00,
    1387px 634px #92ec00,
    1926px 383px #92ec00,
    1782px 252px #92ec00,
    1456px 1219px #92ec00,
    787px 1659px #92ec00,
    1369px 1831px #92ec00,
    1605px 1760px #92ec00,
    256px 1193px #92ec00,
    1106px 181px #92ec00,
    1327px 1423px #92ec00,
    1374px 344px #92ec00,
    1197px 1655px #92ec00,
    1393px 1743px #92ec00,
    996px 1655px #92ec00,
    403px 1688px #92ec00,
    632px 1703px #92ec00,
    1753px 56px #92ec00,
    488px 414px #92ec00,
    224px 677px #92ec00,
    419px 267px #92ec00,
    1119px 1546px #92ec00,
    655px 209px #92ec00,
    995px 876px #92ec00,
    637px 645px #92ec00,
    546px 442px #92ec00,
    1336px 1023px #92ec00,
    480px 1932px #92ec00,
    1392px 1798px #92ec00,
    1030px 984px #92ec00,
    1139px 24px #92ec00,
    1599px 832px #92ec00,
    1614px 1496px #92ec00,
    94px 684px #92ec00,
    458px 1920px #92ec00,
    408px 1814px #92ec00,
    1652px 655px #92ec00,
    739px 734px #92ec00,
    779px 436px #92ec00,
    1548px 1556px #294102,
    289px 1607px #294102,
    1632px 1114px #294102,
    883px 1599px #294102,
    1001px 572px #294102,
    268px 1578px #294102,
    1696px 845px #294102,
    107px 145px #294102,
    1174px 1042px #294102,
    1218px 145px #294102,
    1909px 1002px #294102,
    1915px 151px #294102,
    858px 1429px #294102,
    516px 1860px #294102,
    512px 411px #294102,
    1323px 507px #294102,
    1665px 458px #294102,
    756px 1877px #294102,
    1359px 550px #294102,
    1225px 892px #294102,
    1607px 1725px #294102,
    674px 968px #294102,
    165px 548px #294102,
    1777px 1647px #294102,
    1806px 355px #294102,
    1644px 180px #294102,
    1379px 996px #294102,
    871px 326px #294102,
    1894px 1997px #294102,
    881px 1711px #294102,
    1762px 858px #294102,
    1946px 303px #294102,
    1602px 1429px #294102,
    1042px 397px #294102,
    1823px 287px #294102,
    694px 305px #294102,
    421px 1478px #294102,
    1573px 969px #294102,
    1471px 309px #294102,
    1327px 846px #294102,
    1590px 1255px #294102,
    1543px 1401px #294102,
    1900px 1236px #294102,
    634px 1531px #294102,
    511px 491px #294102,
    1169px 1294px #294102,
    184px 1281px #294102,
    139px 1251px #294102,
    883px 377px #294102,
    1536px 639px #294102,
    1183px 925px #294102,
    806px 235px #294102,
    1088px 696px #294102,
    1004px 1441px #294102,
    52px 1582px #294102,
    1166px 1415px #294102,
    478px 26px #294102,
    1147px 1406px #294102,
    296px 688px #294102,
    1653px 756px #294102,
    1041px 1180px #294102,
    766px 394px #294102,
    173px 683px #294102,
    1261px 1854px #294102,
    48px 86px #294102,
    148px 333px #294102,
    337px 532px #294102,
    1183px 1624px #294102,
    1692px 119px #294102,
    1457px 1289px #294102,
    816px 1148px #294102,
    1657px 674px #294102,
    1918px 1061px #294102,
    658px 454px #294102,
    664px 607px #294102,
    187px 397px #294102,
    116px 1407px #294102,
    114px 21px #294102,
    1478px 1072px #294102,
    1052px 1283px #294102,
    1905px 377px #294102,
    404px 567px #294102,
    381px 198px #294102,
    19px 1568px #294102,
    1362px 511px #294102,
    343px 601px #294102,
    1607px 1985px #294102,
    1022px 848px #294102,
    73px 1300px #294102,
    319px 1225px #92ec00,
    984px 199px #92ec00,
    532px 1102px #92ec00,
    579px 767px #92ec00,
    1051px 1493px #294102,
    632px 766px #294102,
    1956px 1458px #294102,
    1367px 789px #294102,
    1910px 1218px #294102,
    1518px 1998px #294102,
    1831px 1134px #294102,
    243px 872px #294102,
    1909px 425px #294102,
    1256px 351px #294102,
    1613px 1205px #294102,
    1063px 1146px #294102,
    1787px 644px #294102,
    316px 1839px #294102,
    1859px 123px #294102,
    1215px 1079px #294102,
    815px 19px #294102,
    1998px 1911px #294102,
    353px 1706px #294102,
    710px 492px #294102,
    1528px 361px #294102,
    652px 1560px #294102,
    1434px 18px #294102,
    1093px 1457px #294102,
    642px 1313px #294102,
    1330px 1099px #294102,
    1554px 1452px #294102,
    1976px 404px #294102,
    230px 745px #294102,
    1742px 1365px #294102,
    303px 755px #294102,
    774px 401px #294102,
    677px 1548px #294102,
    24px 1586px #294102,
    1335px 314px #294102,
    962px 978px #294102,
    1907px 494px #294102,
    1782px 970px #294102,
    1287px 420px #294102,
    1148px 1834px #294102,
    1390px 1188px #294102,
    469px 1547px #294102,
    1015px 1102px #294102,
    909px 357px #294102,
    1137px 288px #294102,
    674px 1781px #294102,
    10px 1004px #294102,
    797px 1316px #294102,
    284px 1883px #294102,
    993px 727px #294102,
    250px 1559px #294102,
    263px 1668px #294102,
    420px 1338px #92ec00,
    1368px 475px #92ec00,
    1479px 445px #92ec00,
    1573px 1703px #92ec00,
    229px 513px #92ec00,
    306px 889px #92ec00,
    1841px 1213px #92ec00,
    1455px 79px #92ec00,
    1266px 81px #92ec00,
    1619px 571px #92ec00,
    539px 834px #92ec00,
    174px 1180px #92ec00,
    460px 1451px #92ec00,
    315px 1405px #92ec00,
    391px 919px #92ec00,
    1209px 56px #92ec00,
    712px 903px #92ec00,
    818px 793px #92ec00,
    1900px 1123px #92ec00,
    1049px 942px #92ec00,
    764px 820px #92ec00,
    359px 841px #92ec00,
    1987px 875px #92ec00,
    1913px 1770px #92ec00,
    1684px 1760px #92ec00,
    1638px 704px #92ec00,
    819px 341px #92ec00,
    1972px 257px #92ec00,
    1785px 1850px #92ec00,
    82px 1367px #92ec00,
    442px 256px #92ec00,
    851px 1966px #92ec00,
    408px 1731px #92ec00,
    323px 890px #92ec00,
    1380px 301px #92ec00,
    1432px 374px #92ec00,
    523px 1888px #92ec00,
    1595px 450px #92ec00,
    289px 1191px #92ec00,
    269px 1523px #92ec00,
    787px 656px #92ec00,
    1818px 1509px #92ec00,
    1163px 1456px #92ec00,
    78px 7px #294102,
    1104px 44px #294102,
    135px 244px #294102,
    201px 77px #294102,
    20px 910px #294102,
    202px 1209px #294102,
    1411px 1727px #294102,
    1804px 960px #294102,
    1549px 1560px #294102,
    439px 687px #294102,
    836px 405px #294102,
    1422px 852px #294102,
    597px 262px #294102,
    71px 1389px #294102,
    429px 115px #294102,
    1602px 414px #294102,
    490px 976px #294102,
    790px 1269px #294102,
    868px 1463px #294102,
    1418px 884px #294102,
    164px 829px #294102,
    1352px 1183px #294102,
    1290px 807px #294102,
    1113px 1833px #294102,
    1953px 738px #294102,
    1170px 1863px #294102,
    2000px 1633px #294102,
    1501px 749px #294102,
    1178px 1639px #294102,
    1200px 1773px #294102,
    446px 959px #294102,
    1382px 1989px #294102,
    232px 85px #294102,
    1898px 1897px #294102,
    1743px 1730px #294102,
    1613px 347px #294102,
    277px 1838px #294102,
    814px 1211px #294102,
    1515px 446px #294102,
    429px 1508px #294102,
    395px 865px #294102,
    1841px 1447px #294102,
    197px 28px #294102,
    1272px 1501px #294102,
    1120px 345px #294102,
    245px 783px #294102,
    610px 1280px #294102,
    1266px 1372px #294102,
    1994px 1967px #294102,
    587px 402px #294102,
    99px 363px #92ec00,
    1750px 1414px #92ec00,
    1584px 1233px #92ec00,
    1689px 1094px #92ec00,
    1091px 792px #92ec00,
    1973px 1573px #92ec00,
    1967px 1798px #92ec00,
    658px 104px #92ec00,
    1816px 1354px #92ec00,
    1119px 409px #92ec00,
    1075px 1784px #92ec00,
    1772px 1704px #92ec00;
     animation: animStar 150s ease-in-out infinite;
}   
#   stars:after {
     content: " ";
     position: absolute;
     top: 2000px;
     width: 1px;
     height: 1px;
     background: transparent;
     box-shadow: 
       1416px 1929px #58ff00,
       308px 905px #58ff00,
       730px 1945px #58ff00,
       1075px 62px #58ff00,
       1118px 1370px #58ff00,
       1781px 922px #58ff00,
       1621px 1575px #58ff00,
       1480px 1456px #58ff00,
       843px 247px #58ff00,
       841px 1816px #58ff00,
       961px 1710px #58ff00,
       992px 388px #58ff00,
       195px 364px #58ff00,
       1341px 307px #58ff00,
       838px 649px #58ff00,
       364px 1518px #58ff00,
       1792px 756px #58ff00,
       1805px 1187px #58ff00,
       1218px 1904px #58ff00,
       1073px 1711px #58ff00,
       978px 1066px #58ff00,
       1513px 80px #58ff00,
       871px 383px #58ff00,
       649px 652px #58ff00,
       1706px 1979px #58ff00,
       15px 700px #58ff00,
       752px 164px #58ff00,
       898px 1591px #58ff00,
       1012px 1850px #58ff00,
       1170px 863px #58ff00,
       1280px 771px #58ff00,
       1993px 1555px #58ff00,
       1644px 406px #58ff00,
       1692px 1268px #58ff00,
       620px 1128px #58ff00,
       1329px 185px #58ff00,
       1651px 1651px #58ff00,
       887px 1374px #58ff00,
       1809px 1433px #58ff00,
       1645px 1040px #58ff00,
       1327px 339px #58ff00,
       837px 1309px #58ff00,
       1229px 270px #58ff00,
       229px 833px #58ff00,
       181px 1480px #58ff00,
       889px 117px #58ff00,
       1037px 1370px #58ff00,
       383px 681px #58ff00,
       1331px 749px #58ff00,
       1856px 1719px #58ff00,
       1044px 1690px #58ff00,
       805px 48px #58ff00,
       634px 840px #58ff00,
       1336px 1533px #58ff00,
       1172px 859px #58ff00,
       36px 1215px #58ff00,
       245px 1140px #58ff00,
       341px 986px #58ff00,
       277px 1450px #58ff00,
       1951px 1788px #58ff00,
       610px 250px #58ff00,
       427px 1045px #58ff00,
       215px 535px #58ff00,
       1554px 383px #58ff00,
       555px 1096px #58ff00,
       1754px 1078px #58ff00,
       521px 262px #58ff00,
       139px 1112px #294102,
       1951px 1057px #294102,
       735px 1319px #294102,
       1958px 569px #294102,
       1546px 1543px #294102,
       729px 66px #294102,
       1666px 1286px #294102,
       1711px 502px #294102,
       7px 686px #294102,
       414px 1579px #294102,
       199px 1629px #294102,
       490px 1893px #294102,
       245px 1015px #294102,
       688px 1383px #294102,
       1645px 477px #294102,
       6px 301px #294102,
       1608px 416px #294102,
       217px 1675px #294102,
       1555px 1936px #294102,
       1983px 1398px #294102,
       957px 567px #294102,
       994px 850px #294102,
       422px 440px #294102,
       1335px 1393px #294102,
       882px 1603px #294102,
       513px 1332px #294102,
       1184px 646px #294102,
       810px 1516px #294102,
       366px 800px #294102,
       1839px 1015px #294102,
       1353px 1012px #294102,
       1250px 1773px #294102,
       546px 1669px #294102,
       618px 1656px #294102,
       1310px 2000px #294102,
       1458px 1650px #294102,
       1056px 1916px #294102,
       735px 157px #294102,
       246px 1990px #294102,
       662px 574px #294102,
       679px 1573px #294102,
       203px 460px #294102,
       1168px 549px #294102,
       1971px 566px #294102,
       1322px 1675px #294102,
       351px 1296px #294102,
       362px 1981px #294102,
       283px 1092px #294102,
       179px 1872px #294102,
       775px 992px #294102,
       1169px 1694px #294102,
       50px 136px #294102,
       256px 720px #294102,
       213px 3px #294102,
       42px 1874px #294102,
       1136px 1064px #294102,
       1918px 1610px #294102,
       1106px 951px #294102,
       1829px 1087px #294102,
       1218px 1726px #294102,
       250px 1828px #294102,
       688px 524px #294102,
       1132px 179px #294102,
       582px 544px #294102,
       1642px 1215px #294102,
       626px 247px #294102,
       1301px 1810px #294102,
       332px 1167px #294102,
       1676px 333px #294102,
       1456px 1295px #294102,
       506px 808px #294102,
       828px 1125px #294102,
       848px 1131px #294102,
       1616px 382px #294102,
       332px 371px #294102,
       1159px 412px #294102,
       733px 678px #294102,
       1434px 1341px #294102,
       1858px 458px #294102,
       57px 250px #294102,
       444px 945px #294102,
       1529px 1507px #294102,
       1970px 372px #294102,
       475px 1115px #294102,
       679px 539px #58ff00,
       1028px 508px #58ff00,
       853px 1994px #58ff00,
       629px 1266px #58ff00,
       824px 1676px #58ff00,
       1028px 1040px #58ff00,
       64px 1270px #58ff00,
       362px 81px #58ff00,
       1252px 1348px #58ff00,
       1779px 758px #58ff00,
       450px 1883px #58ff00,
       706px 792px #58ff00,
       374px 1981px #58ff00,
       606px 580px #58ff00,
       1292px 361px #58ff00,
       1045px 1240px #58ff00,
       1831px 1964px #58ff00,
       1113px 1133px #58ff00,
       1581px 1648px #58ff00,
       484px 948px #58ff00,
       871px 17px #58ff00,
       1334px 893px #58ff00,
       3px 1273px #58ff00,
       1875px 1668px #58ff00,
       966px 656px #58ff00,
       159px 1562px #294102,
       302px 716px #294102,
       771px 1345px #294102,
       130px 1116px #294102,
       827px 954px #294102,
       1089px 803px #294102,
       950px 451px #294102,
       607px 1370px #294102,
       133px 759px #294102,
       1081px 1931px #294102,
       1959px 1958px #294102,
       492px 1658px #294102,
       1767px 1058px #294102,
       1739px 746px #294102,
       652px 1710px #294102,
       1890px 1066px #294102,
       1970px 1439px #294102,
       307px 163px #294102,
       1568px 1441px #294102,
       47px 1465px #294102,
       219px 1608px #294102,
       823px 131px #294102,
       718px 290px #294102,
       964px 1670px #294102,
       613px 457px #294102,
       96px 481px #294102,
       830px 1661px #294102,
       1875px 1547px #294102,
       1303px 222px #294102,
       1238px 118px #294102,
       1378px 1861px #294102,
       692px 482px #294102,
       608px 616px #294102,
       231px 380px #294102,
       993px 1013px #294102,
       1131px 1044px #294102,
       1346px 820px #294102,
       1170px 499px #294102,
       1109px 1844px #294102,
       1717px 1285px #294102,
       140px 1444px #294102,
       1048px 1583px #294102,
       1118px 1430px #294102,
       270px 272px #294102,
       175px 211px #294102,
       1615px 1421px #294102,
       130px 1324px #294102,
       1557px 173px #294102,
       1215px 1222px #294102,
       688px 1936px #294102,
       581px 301px #294102,
       1453px 498px #294102,
       620px 1834px #294102,
       1774px 832px #294102,
       399px 1360px #294102,
       1325px 802px #294102,
       1158px 755px #294102,
       1759px 873px #294102,
       499px 921px #294102,
       409px 1776px #58ff00,
       944px 394px #58ff00,
       1603px 440px #58ff00,
       486px 880px #58ff00,
       784px 104px #58ff00,
       1817px 319px #58ff00,
       323px 1599px #58ff00,
       631px 691px #58ff00,
       1251px 179px #58ff00,
       1644px 1069px #58ff00,
       1422px 267px #58ff00,
       1541px 1319px #58ff00,
       1938px 1841px #58ff00,
       1263px 1755px #58ff00,
       1317px 460px #58ff00,
       853px 1132px #58ff00,
       853px 1826px #58ff00,
       775px 330px #58ff00,
       1273px 193px #58ff00,
       1732px 838px #58ff00,
       1909px 378px #58ff00,
       569px 1679px #58ff00,
       910px 1385px #58ff00,
       1406px 1241px #58ff00,
       174px 1902px #58ff00,
       1639px 1684px #58ff00,
       1413px 262px #58ff00,
       178px 1474px #58ff00,
       1614px 944px #58ff00,
       392px 1629px #58ff00,
       603px 713px #58ff00,
       189px 947px #58ff00,
       1560px 688px #58ff00,
       180px 1494px #58ff00,
       1088px 113px #58ff00,
       1884px 264px #58ff00,
       396px 1964px #58ff00,
       942px 1716px #58ff00,
       298px 148px #58ff00,
       618px 834px #58ff00,
       120px 1251px #58ff00,
       804px 21px #58ff00,
       1800px 1478px #58ff00,
       952px 1556px #58ff00,
       1721px 844px #58ff00,
       1123px 1242px #58ff00,
       487px 1211px #58ff00,
       1953px 1547px #58ff00,
       612px 1963px #294102,
       163px 526px #294102,
       1829px 501px #294102,
       190px 174px #294102,
       1653px 1062px #294102,
       292px 1385px #294102,
       1003px 394px #294102,
       391px 683px #294102,
       448px 494px #294102,
       1049px 962px #294102,
       1737px 1289px #294102,
       339px 736px #294102,
       540px 825px #294102,
       116px 1472px #294102,
       247px 692px #294102,
       282px 574px #294102,
       132px 1723px #294102,
       1850px 353px #294102,
       1793px 503px #294102,
       1192px 1526px #294102,
       494px 1359px #294102,
       1319px 515px #294102,
       1189px 1641px #294102,
       1530px 259px #294102,
       1058px 1132px #294102,
       635px 170px #294102,
       507px 1687px #294102,
       832px 1501px #294102,
       216px 273px #294102,
       1440px 47px #294102,
       963px 1060px #294102,
       848px 1656px #294102,
       421px 247px #294102,
       1439px 1479px #294102,
       987px 414px #294102,
       850px 851px #294102,
       1555px 18px #294102,
       1113px 818px #294102,
       1272px 202px #294102,
       1424px 1256px #294102,
       521px 958px #294102,
       1502px 1595px #294102,
       810px 717px #294102,
       734px 1865px #294102,
       777px 1136px #294102,
       230px 1977px #294102,
       560px 301px #294102,
       536px 1578px #294102,
       1794px 116px #294102,
       840px 225px #294102,
       247px 1043px #294102,
       1637px 817px #294102,
       1804px 1293px #294102,
       511px 1823px #58ff00,
       493px 1414px #58ff00,
       414px 1131px #58ff00,
       1283px 1247px #58ff00,
       1602px 1481px #58ff00,
       784px 562px #58ff00,
       437px 1801px #58ff00,
       660px 721px #58ff00,
       167px 626px #58ff00,
       1102px 1049px #58ff00,
       1672px 276px #58ff00,
       1860px 858px #58ff00,
       815px 1084px #58ff00,
       81px 752px #58ff00,
       1325px 844px #58ff00,
       424px 642px #58ff00,
       262px 934px #58ff00,
       1564px 1250px #58ff00,
       507px 405px #58ff00,
       524px 1228px #58ff00,
       1317px 1000px #58ff00,
       162px 1913px #58ff00,
       1413px 1327px #58ff00,
       1869px 23px #58ff00,
       1593px 587px #58ff00,
       1707px 1724px #58ff00,
       313px 231px #58ff00,
       155px 1492px #58ff00,
       72px 731px #58ff00,
       1107px 999px #58ff00,
       537px 1313px #58ff00,
       606px 886px #58ff00,
       700px 750px #58ff00,
       679px 1910px #58ff00,
       1095px 795px #294102,
       1132px 722px #294102,
       1089px 1549px #294102,
       197px 1393px #294102,
       974px 551px #294102,
       1611px 1242px #294102,
       1171px 862px #294102,
       1760px 1057px #294102,
       153px 1342px #294102,
       476px 1942px #294102,
       22px 331px #294102,
       58px 1874px #294102,
       501px 395px #294102,
       701px 441px #294102,
       46px 1119px #294102,
       1923px 1022px #294102,
       162px 295px #294102,
       403px 1748px #294102,
       835px 956px #294102,
       1456px 110px #294102,
       961px 1001px #294102,
       1933px 429px #294102,
       955px 1563px #294102,
       1826px 142px #294102,
       266px 1887px #294102,
       1609px 847px #294102,
       722px 1126px #294102,
       157px 1317px #294102,
       1530px 1657px #294102,
       1854px 735px #294102,
       605px 1559px #294102,
       1575px 268px #294102,
       589px 1824px #294102,
       855px 306px #294102,
       694px 1301px #294102,
       944px 383px #294102,
       422px 20px #294102,
       169px 688px #294102,
       1636px 880px #294102,
       133px 1844px #294102,
       1863px 1311px #294102,
       1343px 1156px #294102,
       1387px 634px #294102,
       1926px 383px #294102,
       1782px 252px #294102,
       1456px 1219px #294102,
       787px 1659px #294102,
       1369px 1831px #294102,
       1605px 1760px #294102,
       256px 1193px #294102,
       1106px 181px #294102,
       1327px 1423px #294102,
       1374px 344px #294102,
       1197px 1655px #294102,
       1393px 1743px #58ff00,
       996px 1655px #58ff00,
       403px 1688px #58ff00,
       632px 1703px #58ff00,
       1753px 56px #58ff00,
       488px 414px #58ff00,
       224px 677px #58ff00,
       419px 267px #58ff00,
       1119px 1546px #58ff00,
       655px 209px #58ff00,
       995px 876px #58ff00,
       637px 645px #58ff00,
       546px 442px #58ff00,
       1336px 1023px #58ff00,
       480px 1932px #58ff00,
       1392px 1798px #58ff00,
       1030px 984px #58ff00,
       1139px 24px #58ff00,
       1599px 832px #58ff00,
       1614px 1496px #58ff00,
       94px 684px #58ff00,
       458px 1920px #58ff00,
       408px 1814px #58ff00,
       1652px 655px #58ff00,
       739px 734px #58ff00,
       779px 436px #58ff00,
       1548px 1556px #58ff00,
       289px 1607px #58ff00,
       1632px 1114px #58ff00,
       883px 1599px #58ff00,
       1001px 572px #58ff00,
       268px 1578px #58ff00,
       1696px 845px #58ff00,
       107px 145px #58ff00,
       1174px 1042px #58ff00,
       1218px 145px #58ff00,
       1909px 1002px #58ff00,
       1915px 151px #58ff00,
       858px 1429px #58ff00,
       516px 1860px #58ff00,
       512px 411px #58ff00,
       1323px 507px #58ff00,
       1665px 458px #58ff00,
       756px 1877px #58ff00,
       1359px 550px #58ff00,
       1225px 892px #58ff00,
       1607px 1725px #58ff00,
       674px 968px #58ff00,
       165px 548px #58ff00,
       1777px 1647px #58ff00,
       1806px 355px #58ff00,
       1644px 180px #58ff00,
       1379px 996px #58ff00,
       871px 326px #58ff00,
       1894px 1997px #58ff00,
       881px 1711px #58ff00,
       1762px 858px #58ff00,
       1946px 303px #58ff00,
       1602px 1429px #58ff00,
       1042px 397px #58ff00,
       1823px 287px #58ff00,
       694px 305px #58ff00,
       421px 1478px #58ff00,
       1573px 969px #58ff00,
       1471px 309px #58ff00,
       1327px 846px #58ff00,
       1590px 1255px #58ff00,
       1543px 1401px #58ff00,
       1900px 1236px #58ff00,
       634px 1531px #58ff00,
       511px 491px #294102,
       1169px 1294px #294102,
       184px 1281px #294102,
       139px 1251px #294102,
       883px 377px #294102,
       1536px 639px #294102,
       1183px 925px #294102,
       806px 235px #294102,
       1088px 696px #294102,
       1004px 1441px #294102,
       52px 1582px #294102,
       1166px 1415px #294102,
       478px 26px #294102,
       1147px 1406px #294102,
       296px 688px #294102,
       1653px 756px #294102,
       1041px 1180px #294102,
       766px 394px #294102,
       173px 683px #294102,
       1261px 1854px #294102,
       48px 86px #294102,
       148px 333px #294102,
       337px 532px #294102,
       1183px 1624px #294102,
       1692px 119px #294102,
       1457px 1289px #294102,
       816px 1148px #294102,
       1657px 674px #294102,
       1918px 1061px #294102,
       658px 454px #294102,
       664px 607px #294102,
       187px 397px #294102,
       116px 1407px #294102,
       114px 21px #294102,
       1478px 1072px #294102,
       1052px 1283px #294102,
       1905px 377px #294102,
       404px 567px #294102,
       381px 198px #294102,
       19px 1568px #294102,
       1362px 511px #294102,
       343px 601px #294102,
       1607px 1985px #294102,
       1022px 848px #294102,
       73px 1300px #294102,
       319px 1225px #294102,
       984px 199px #294102,
       532px 1102px #294102,
       579px 767px #294102,
       1051px 1493px #294102,
       632px 766px #294102,
       1956px 1458px #294102,
       1367px 789px #294102,
       1910px 1218px #294102,
       1518px 1998px #58ff00,
       1831px 1134px #58ff00,
       243px 872px #58ff00,
       1909px 425px #58ff00,
       1256px 351px #58ff00,
       1613px 1205px #58ff00,
       1063px 1146px #58ff00,
       1787px 644px #58ff00,
       316px 1839px #58ff00,
       1859px 123px #58ff00,
       1215px 1079px #58ff00,
       815px 19px #58ff00,
       1998px 1911px #58ff00,
       353px 1706px #58ff00,
       710px 492px #58ff00,
       1528px 361px #58ff00,
       652px 1560px #58ff00,
       1434px 18px #58ff00,
       1093px 1457px #58ff00,
       642px 1313px #58ff00,
       1330px 1099px #58ff00,
       1554px 1452px #58ff00,
       1976px 404px #58ff00,
       230px 745px #58ff00,
       1742px 1365px #58ff00,
       303px 755px #58ff00,
       774px 401px #58ff00,
       677px 1548px #58ff00,
       24px 1586px #58ff00,
       1335px 314px #58ff00,
       962px 978px #294102,
       1907px 494px #294102,
       1782px 970px #294102,
       1287px 420px #294102,
       1148px 1834px #294102,
       1390px 1188px #294102,
       469px 1547px #294102,
       1015px 1102px #294102,
       909px 357px #294102,
       1137px 288px #294102,
       674px 1781px #294102,
       10px 1004px #294102,
       797px 1316px #294102,
       284px 1883px #294102,
       993px 727px #294102,
       250px 1559px #294102,
       263px 1668px #294102,
       420px 1338px #294102,
       1368px 475px #294102,
       1479px 445px #294102,
       1573px 1703px #294102,
       229px 513px #294102,
       306px 889px #294102,
       1841px 1213px #294102,
       1455px 79px #294102,
       1266px 81px #294102,
       1619px 571px #294102,
       539px 834px #294102,
       174px 1180px #294102,
       460px 1451px #294102,
       315px 1405px #294102,
       391px 919px #294102,
       1209px 56px #294102,
       712px 903px #294102,
       818px 793px #294102,
       1900px 1123px #294102,
       1049px 942px #294102,
       764px 820px #294102,
       359px 841px #294102,
       1987px 875px #294102,
       1913px 1770px #58ff00,
       1684px 1760px #58ff00,
       1638px 704px #58ff00,
       819px 341px #58ff00,
       1972px 257px #58ff00,
       1785px 1850px #58ff00,
       82px 1367px #58ff00,
       442px 256px #58ff00,
       851px 1966px #58ff00,
       408px 1731px #58ff00,
       323px 890px #58ff00,
       1380px 301px #58ff00,
       1432px 374px #58ff00,
       523px 1888px #58ff00,
       1595px 450px #58ff00,
       289px 1191px #58ff00,
       269px 1523px #58ff00,
       787px 656px #58ff00,
       1818px 1509px #58ff00,
       1163px 1456px #58ff00,
       78px 7px #58ff00,
       1104px 44px #58ff00,
       135px 244px #58ff00,
       201px 77px #58ff00,
       20px 910px #58ff00,
       202px 1209px #294102,
       1411px 1727px #294102,
       1804px 960px #294102,
       1549px 1560px #294102,
       439px 687px #294102,
       836px 405px #294102,
       1422px 852px #294102,
       597px 262px #294102,
       71px 1389px #294102,
       429px 115px #294102,
       1602px 414px #294102,
       490px 976px #294102,
       790px 1269px #294102,
       868px 1463px #294102,
       1418px 884px #294102,
       164px 829px #294102,
       1352px 1183px #294102,
       1290px 807px #294102,
       1113px 1833px #294102,
       1953px 738px #294102,
       1170px 1863px #294102,
       2000px 1633px #294102,
       1501px 749px #294102,
       1178px 1639px #294102,
       1200px 1773px #294102,
       446px 959px #294102,
       1382px 1989px #294102,
       232px 85px #294102,
       1898px 1897px #294102,
       1743px 1730px #294102,
       1613px 347px #294102,
       277px 1838px #294102,
       814px 1211px #294102,
       1515px 446px #294102,
       429px 1508px #294102,
       395px 865px #294102,
       1841px 1447px #294102,
       197px 28px #294102,
       1272px 1501px #294102,
       1120px 345px #294102,
       245px 783px #294102,
       610px 1280px #294102,
       1266px 1372px #294102,
       1994px 1967px #294102,
       587px 402px #294102,
       99px 363px #58ff00,
       1750px 1414px #58ff00,
       1584px 1233px #58ff00,
       1689px 1094px #58ff00,
       1091px 792px #58ff00,
       1973px 1573px #58ff00,
       1967px 1798px #58ff00,
       658px 104px #58ff00,
       1816px 1354px #58ff00,
       1119px 409px #58ff00,
       1075px 1784px #58ff00,
       1772px 1704px #58ff00;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow:
    691px 1178px #58ff00,
    1754px 197px #58ff00,
    742px 1380px #58ff00,
    1814px 602px #58ff00,
    1927px 74px #58ff00,
    509px 281px #58ff00,
    1730px 1525px #58ff00,
    1147px 191px #58ff00,
    925px 610px #58ff00,
    849px 640px #58ff00,
    1863px 1977px #58ff00,
    1166px 1969px #58ff00,
    1750px 1721px #58ff00,
    186px 469px #58ff00,
    1656px 1937px #294102,
    264px 1617px #294102,
    1452px 1879px #294102,
    72px 1789px #294102,
    724px 527px #294102,
    271px 1601px #294102,
    1867px 853px #294102,
    1150px 1571px #294102,
    358px 619px #294102,
    1498px 276px #294102,
    1130px 451px #294102,
    964px 840px #294102,
    28px 565px #294102,
    1827px 913px #294102,
    1689px 87px #294102,
    792px 1900px #294102,
    1401px 1088px #294102,
    235px 1440px #294102,
    667px 1765px #294102,
    1703px 1528px #294102,
    1257px 1407px #294102,
    52px 23px #294102,
    1569px 800px #294102,
    687px 312px #294102,
    1225px 326px #294102,
    1399px 647px #294102,
    702px 1565px #294102,
    1433px 44px #294102,
    28px 687px #294102,
    356px 1824px #294102,
    125px 897px #294102,
    1970px 1623px #294102,
    1811px 1959px #294102,
    1372px 442px #294102,
    1850px 1318px #294102,
    272px 623px #294102,
    1321px 1676px #294102,
    201px 1874px #294102,
    1706px 1938px #294102,
    1622px 1265px #294102,
    1928px 1533px #294102,
    1976px 1516px #294102,
    1419px 1673px #294102,
    242px 487px #294102,
    1489px 1254px #294102,
    1063px 1934px #58ff00,
    1249px 12px #58ff00,
    971px 460px #58ff00,
    1387px 1062px #58ff00,
    1758px 1538px #58ff00,
    1847px 403px #58ff00,
    1368px 1032px #58ff00,
    633px 1592px #58ff00,
    483px 185px #58ff00,
    5px 604px #58ff00,
    1676px 271px #58ff00,
    1653px 1944px #58ff00,
    1295px 958px #58ff00,
    568px 604px #58ff00,
    146px 796px #58ff00,
    405px 1640px #58ff00,
    618px 1908px #58ff00,
    23px 435px #58ff00,
    578px 971px #58ff00,
    1412px 1468px #58ff00,
    1453px 1241px #58ff00,
    36px 1020px #58ff00,
    802px 302px #58ff00,
    1077px 560px #294102,
    1619px 1527px #294102,
    1341px 1358px #294102,
    1993px 691px #294102,
    1536px 55px #294102,
    705px 959px #294102,
    235px 18px #294102,
    1850px 823px #294102,
    18px 1275px #294102,
    193px 561px #294102,
    125px 631px #294102,
    74px 1610px #294102,
    4px 1736px #294102,
    9px 980px #294102,
    567px 850px #294102,
    1912px 263px #294102,
    584px 540px #294102,
    401px 87px #294102,
    631px 510px #294102,
    335px 1695px #294102,
    1401px 189px #294102,
    1889px 1801px #294102,
    1795px 179px #294102,
    1316px 1325px #294102,
    1597px 410px #294102,
    382px 522px #294102,
    1974px 738px #294102,
    996px 739px #294102,
    574px 592px #294102,
    1698px 50px #294102,
    840px 1492px #294102,
    1047px 1319px #294102,
    1048px 1051px #294102,
    1308px 174px #294102,
    1068px 61px #294102,
    508px 1160px #294102,
    1088px 39px #294102,
    1932px 1593px #294102,
    169px 12px #294102,
    481px 1281px #294102,
    1909px 1667px #294102,
    1473px 529px #58ff00,
    1132px 89px #58ff00,
    770px 841px #58ff00,
    918px 1723px #58ff00,
    1781px 1097px #58ff00,
    1812px 1215px #58ff00,
    1829px 435px #58ff00,
    1959px 1587px #58ff00,
    1747px 586px #58ff00,
    253px 1972px #58ff00,
    1964px 1669px #58ff00,
    583px 1077px #58ff00,
    313px 1278px #58ff00,
    1373px 1331px #58ff00,
    1045px 669px #58ff00,
    956px 1820px #58ff00,
    100px 684px #58ff00,
    1895px 665px #58ff00,
    145px 575px #58ff00,
    350px 1706px #58ff00,
    851px 557px #58ff00,
    1699px 30px #58ff00,
    13px 868px #58ff00,
    1963px 1047px #58ff00,
    312px 504px #58ff00,
    1157px 420px #58ff00,
    926px 165px #58ff00,
    1587px 830px #58ff00,
    268px 965px #58ff00,
    21px 950px #58ff00,
    237px 1792px #58ff00,
    1448px 1290px #58ff00,
    1208px 1861px #58ff00,
    1038px 320px #58ff00,
    655px 321px #58ff00,
    1847px 170px #294102,
    246px 718px #294102,
    1347px 1459px #294102,
    166px 1592px #294102,
    1326px 87px #294102,
    203px 663px #294102,
    705px 1598px #294102,
    1037px 1048px #294102,
    967px 1496px #294102,
    796px 1277px #294102,
    1435px 619px #294102,
    55px 1853px #294102,
    1957px 1278px #294102,
    1550px 1920px #294102,
    692px 235px #294102,
    7px 1663px #294102,
    1553px 1599px #294102,
    1234px 1460px #294102,
    1681px 340px #294102,
    1589px 443px #294102,
    1076px 1705px #294102,
    1100px 307px #294102,
    536px 1545px #294102,
    1630px 1688px #294102,
    468px 733px #294102,
    105px 246px #294102,
    517px 991px #294102,
    714px 894px #294102,
    23px 1796px #294102,
    152px 1958px #294102,
    1186px 1189px #294102,
    1324px 1429px #294102,
    1678px 158px #294102,
    1956px 1729px #58ff00,
    670px 1905px #58ff00,
    746px 764px #58ff00,
    637px 1731px #58ff00,
    1768px 375px #58ff00,
    480px 1166px #58ff00,
    1075px 224px #58ff00,
    1962px 1868px #58ff00,
    500px 212px #58ff00;
     animation: animStar 100s linear infinite;
}   
#   stars2:after {
     content: " ";
     position: absolute;
     top: 2000px;
     width: 2px;
     height: 2px;
     background: transparent;
     box-shadow: 691px 1178px #294102,
    1754px 197px #294102,
    742px 1380px #58ff00,
    1814px 602px #58ff00,
    1927px 74px #294102,
    509px 281px #294102,
    1730px 1525px #294102,
    1147px 191px #294102,
    925px 610px #294102,
    849px 640px #294102,
    1863px 1977px #294102,
    1166px 1969px #294102,
    1750px 1721px #294102,
    186px 469px #294102,
    1656px 1937px #294102,
    264px 1617px #294102,
    1452px 1879px #294102,
    72px 1789px #294102,
    724px 527px #294102,
    271px 1601px #294102,
    1867px 853px #294102,
    1150px 1571px #294102,
    358px 619px #294102,
    1498px 276px #294102,
    1130px 451px #58ff00,
    964px 840px #58ff00,
    28px 565px #58ff00,
    1827px 913px #58ff00,
    1689px 87px #58ff00,
    792px 1900px #58ff00,
    1401px 1088px #58ff00,
    235px 1440px #58ff00,
    667px 1765px #58ff00,
    1703px 1528px #58ff00,
    1257px 1407px #58ff00,
    52px 23px #58ff00,
    1569px 800px #58ff00,
    687px 312px #58ff00,
    1225px 326px #58ff00,
    1399px 647px #58ff00,
    702px 1565px #58ff00,
    1433px 44px #58ff00,
    28px 687px #58ff00,
    356px 1824px #58ff00,
    125px 897px #58ff00,
    1970px 1623px #58ff00,
    1811px 1959px #58ff00,
    1372px 442px #58ff00,
    1850px 1318px #58ff00,
    272px 623px #58ff00,
    1321px 1676px #58ff00,
    201px 1874px #58ff00,
    1706px 1938px #58ff00,
    1622px 1265px #58ff00,
    1928px 1533px #58ff00,
    1976px 1516px #58ff00,
    1419px 1673px #58ff00,
    242px 487px #58ff00,
    1489px 1254px #58ff00,
    1063px 1934px #58ff00,
    1249px 12px #58ff00,
    971px 460px #58ff00,
    1387px 1062px #58ff00,
    1758px 1538px #58ff00,
    1847px 403px #58ff00,
    1368px 1032px #58ff00,
    633px 1592px #58ff00,
    483px 185px #58ff00,
    5px 604px #58ff00,
    1676px 271px #58ff00,
    1653px 1944px #294102,
    1295px 958px #294102,
    568px 604px #294102,
    146px 796px #294102,
    405px 1640px #294102,
    618px 1908px #294102,
    23px 435px #294102,
    578px 971px #294102,
    1412px 1468px #294102,
    1453px 1241px #294102,
    36px 1020px #294102,
    802px 302px #294102,
    1077px 560px #294102,
    1619px 1527px #294102,
    1341px 1358px #294102,
    1993px 691px #294102,
    1536px 55px #294102,
    705px 959px #294102,
    235px 18px #294102,
    1850px 823px #294102,
    18px 1275px #294102,
    193px 561px #294102,
    125px 631px #294102,
    74px 1610px #294102,
    4px 1736px #294102,
    9px 980px #294102,
    567px 850px #294102,
    1912px 263px #294102,
    584px 540px #294102,
    401px 87px #294102,
    631px 510px #294102,
    335px 1695px #294102,
    1401px 189px #294102,
    1889px 1801px #294102,
    1795px 179px #294102,
    1316px 1325px #294102,
    1597px 410px #58ff00,
    382px 522px #58ff00,
    1974px 738px #58ff00,
    996px 739px #58ff00,
    574px 592px #58ff00,
    1698px 50px #58ff00,
    840px 1492px #58ff00,
    1047px 1319px #58ff00,
    1048px 1051px #58ff00,
    1308px 174px #58ff00,
    1068px 61px #58ff00,
    508px 1160px #58ff00,
    1088px 39px #58ff00,
    1932px 1593px #58ff00,
    169px 12px #58ff00,
    481px 1281px #58ff00,
    1909px 1667px #58ff00,
    1473px 529px #58ff00,
    1132px 89px #58ff00,
    770px 841px #294102,
    918px 1723px #294102,
    1781px 1097px #294102,
    1812px 1215px #294102,
    1829px 435px #294102,
    1959px 1587px #294102,
    1747px 586px #294102,
    253px 1972px #294102,
    1964px 1669px #294102,
    583px 1077px #294102,
    313px 1278px #294102,
    1373px 1331px #294102,
    1045px 669px #294102,
    956px 1820px #294102,
    100px 684px #294102,
    1895px 665px #294102,
    145px 575px #294102,
    350px 1706px #294102,
    851px 557px #294102,
    1699px 30px #294102,
    13px 868px #294102,
    1963px 1047px #294102,
    312px 504px #294102,
    1157px 420px #294102,
    926px 165px #294102,
    1587px 830px #294102,
    268px 965px #294102,
    21px 950px #58ff00,
    237px 1792px #58ff00,
    1448px 1290px #58ff00,
    1208px 1861px #58ff00,
    1038px 320px #58ff00,
    655px 321px #58ff00,
    1847px 170px #58ff00,
    246px 718px #58ff00,
    1347px 1459px #58ff00,
    166px 1592px #58ff00,
    1326px 87px #294102,
    203px 663px #294102,
    705px 1598px #294102,
    1037px 1048px #294102,
    967px 1496px #294102,
    796px 1277px #294102,
    1435px 619px #294102,
    55px 1853px #294102,
    1957px 1278px #294102,
    1550px 1920px #294102,
    692px 235px #294102,
    7px 1663px #294102,
    1553px 1599px #294102,
    1234px 1460px #294102,
    1681px 340px #294102,
    1589px 443px #294102,
    1076px 1705px #294102,
    1100px 307px #294102,
    536px 1545px #294102,
    1630px 1688px #294102,
    468px 733px #294102,
    105px 246px #294102,
    517px 991px #294102,
    714px 894px #294102,
    23px 1796px #294102,
    152px 1958px #294102,
    1186px 1189px #294102,
    1324px 1429px #294102,
    1678px 158px #294102,
    1956px 1729px #294102,
    670px 1905px #294102,
    746px 764px #58ff00,
    637px 1731px #58ff00,
    1768px 375px #58ff00,
    480px 1166px #58ff00,
    1075px 224px #58ff00,
    1962px 1868px #58ff00,
    500px 212px #58ff00;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 
    931px 27px #58ff00,
    1064px 596px #58ff00,
    1623px 748px #294102,
    466px 1603px #294102,
    1145px 1052px #294102,
    1436px 1807px #294102,
    514px 172px #294102,
    1631px 1998px #294102,
    948px 281px #294102,
    788px 1939px #294102,
    783px 1011px #294102,
    662px 786px #294102,
    1298px 1234px #294102,
    1732px 1062px #294102,
    656px 455px #294102,
    689px 101px #294102,
    1377px 1249px #294102,
    682px 1243px #294102,
    882px 457px #294102,
    1509px 683px #294102,
    1797px 1396px #294102,
    1837px 618px #294102,
    848px 453px #294102,
    1523px 143px #294102,
    35px 834px #294102,
    1435px 1615px #58ff00,
    338px 601px #58ff00,
    1928px 1261px #58ff00,
    1179px 1810px #ffe863,
    1402px 1094px #58ff00,
    1714px 1904px #58ff00,
    420px 489px #58ff00,
    1026px 246px #58ff00,
    1855px 318px #58ff00,
    429px 1579px #58ff00,
    1276px 816px #58ff00,
    397px 1258px #58ff00,
    303px 1148px #ffe863,
    29px 506px #58ff00,
    1129px 1629px #58ff00,
    782px 1502px #294102,
    775px 1210px #294102,
    1432px 1606px #294102,
    681px 283px #294102,
    1145px 119px #294102,
    1015px 162px #294102,
    989px 785px #294102,
    1907px 1616px #294102,
    1533px 1878px #294102,
    275px 942px #294102,
    978px 866px #294102,
    1579px 786px #294102,
    503px 165px #294102,
    892px 1098px #294102,
    1729px 14px #294102,
    1182px 112px #294102,
    951px 1873px #294102,
    323px 1638px #294102,
    1465px 613px #294102,
    1994px 424px #294102,
    1248px 126px #58ff00,
    1367px 644px #ffe863,
    228px 1704px #58ff00,
    1675px 738px #58ff00,
    210px 589px #58ff00,
    777px 1204px #58ff00,
    37px 1787px #58ff00,
    1604px 844px #58ff00,
    461px 269px #58ff00,
    477px 1433px #58ff00,
    1101px 666px #58ff00,
    817px 1208px #58ff00,
    1612px 1138px #58ff00,
    1137px 995px #ffe863,
    79px 1977px #58ff00,
    1299px 836px #294102,
    1379px 1049px #294102,
    1747px 830px #294102,
    907px 1393px #294102,
    377px 1568px #294102,
    582px 593px #294102,
    1840px 1590px #294102,
    1684px 849px #294102,
    1518px 519px #294102,
    67px 1247px #294102,
    79px 1830px #294102,
    1506px 15px #294102,
    383px 861px #294102,
    1138px 1130px #294102,
    1528px 1146px #294102,
    1188px 406px #294102,
    1600px 1525px #294102,
    1510px 1340px #294102,
    538px 824px #294102,
    1832px 914px #294102,
    79px 1795px #294102,
    1198px 1851px #58ff00,
    1305px 34px #58ff00,
    509px 1417px #58ff00,
    90px 1318px #58ff00;
  animation: animStar 150s linear infinite;
}

#stars3:after {
  content: " ";
  position: absolute;
  top: 2000px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow:
    931px 27px #58ff00,
    1064px 596px #58ff00,
    1623px 748px #294102,
    466px 1603px #294102,
    1145px 1052px #294102,
    1436px 1807px #294102,
    514px 172px #ffe863,
    1631px 1998px #294102,
    948px 281px #294102,
    788px 1939px #294102,
    783px 1011px #294102,
    662px 786px #294102,
    1298px 1234px #294102,
    1732px 1062px #294102,
    656px 455px #294102,
    689px 101px #294102,
    1377px 1249px #294102,
    682px 1243px #294102,
    882px 457px #ffe863,
    1509px 683px #294102,
    1797px 1396px #294102,
    1837px 618px #294102,
    848px 453px #294102,
    1523px 143px #294102,
    35px 834px #58ff00,
    1435px 1615px #58ff00,
    338px 601px #58ff00,
    1928px 1261px #58ff00,
    1179px 1810px #58ff00,
    1402px 1094px #58ff00,
    1714px 1904px #58ff00,
    420px 489px #58ff00,
    1026px 246px #58ff00,
    1855px 318px #58ff00,
    429px 1579px #58ff00,
    1276px 816px #58ff00,
    397px 1258px #58ff00,
    303px 1148px #58ff00,
    29px 506px #ffe863,
    1129px 1629px #58ff00,
    782px 1502px #58ff00,
    775px 1210px #58ff00,
    1432px 1606px #58ff00,
    681px 283px #58ff00,
    1145px 119px #58ff00,
    1015px 162px #58ff00,
    989px 785px #58ff00,
    1907px 1616px #58ff00,
    1533px 1878px #58ff00,
    275px 942px #58ff00,
    978px 866px #58ff00,
    1579px 786px #58ff00,
    503px 165px #58ff00,
    892px 1098px #ffe863,
    1729px 14px #294102,
    1182px 112px #294102,
    951px 1873px #294102,
    323px 1638px #294102,
    1465px 613px #294102,
    1994px 424px #294102,
    1248px 126px #294102,
    1367px 644px #294102,
    228px 1704px #294102,
    1675px 738px #294102,
    210px 589px #294102,
    777px 1204px #294102,
    37px 1787px #294102,
    1604px 844px #294102,
    461px 269px #294102,
    477px 1433px #294102,
    1101px 666px #294102,
    817px 1208px #294102,
    1612px 1138px #294102,
    1137px 995px #294102,
    79px 1977px #294102,
    1299px 836px #ffe863,
    1379px 1049px #58ff00,
    1747px 830px #58ff00,
    907px 1393px #294102,
    377px 1568px #294102,
    582px 593px #294102,
    1840px 1590px #294102,
    1684px 849px #294102,
    1518px 519px #294102,
    67px 1247px #294102,
    79px 1830px #294102,
    1506px 15px #294102,
    383px 861px #294102,
    1138px 1130px #294102,
    1528px 1146px #294102,
    1188px 406px #294102,
    1600px 1525px #294102,
    1510px 1340px #294102,
    538px 824px #294102,
    1832px 914px #58ff00,
    79px 1795px #58ff00,
    1198px 1851px #58ff00,
    1305px 34px #58ff00,
    509px 1417px #58ff00,
    90px 1318px #58ff00;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
