@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Import the initial variables
@import "../../node_modules/bulma/sass/utilities/initial-variables";
@import "../../node_modules/bulma/sass/utilities/functions";

// Set your own initial variables
// Add a serif family
$family-serif: "Merriweather", "Georgia", serif;

// Setup your Custom Colors
$linkedin: #0077b5;
$linkedin-invert: findColorInvert($linkedin);
$twitter: #55acee;
$twitter-invert: findColorInvert($twitter);
$github: #333;
$github-invert: findColorInvert($github);
$triadic-yellow-minus1: #2a2300; 
$triadic-yellow-minus1-invert: findColorInvert($triadic-yellow-minus1);
$triadic-yellow-0: #362e00;
$triadic-yellow-0-invert: findColorInvert($triadic-yellow-0);
$triadic-yellow-1: #463c03;
$triadic-yellow-1-invert: findColorInvert($triadic-yellow-1);
$triadic-yellow-2: #736200;
$triadic-yellow-2-invert: findColorInvert($triadic-yellow-2);
$triadic-yellow-3: #a88f00;
$triadic-yellow-3-invert: findColorInvert($triadic-yellow-3);
$triadic-yellow-neon-minus2: #4b0367; 
$triadic-yellow-neon-minus2-invert: findColorInvert($triadic-yellow-neon-minus2);
$triadic-yellow-neon-minus1: #5f0583; 
$triadic-yellow-neon-minus1-invert: findColorInvert($triadic-yellow-neon-minus1);
$triadic-yellow-neon-0: #ffd900;
$triadic-yellow-neon-0-invert: findColorInvert($triadic-yellow-neon-0);
$triadic-yellow-neon-1: #ffe139;
$triadic-yellow-neon-1-invert: findColorInvert($triadic-yellow-neon-1);
$triadic-yellow-neon-2: #ffe863;
$triadic-yellow-neon-2-invert: findColorInvert($triadic-yellow-neon-2);

$triadic-green-minus1: #182700; 
$triadic-green-minus1-invert: findColorInvert($triadic-green-minus1);
$triadic-green-0: #1f3200;
$triadic-green-0-invert: findColorInvert($triadic-green-0);
$triadic-green-1: #294102;
$triadic-green-1-invert: findColorInvert($triadic-green-1);
$triadic-green-2: #426a00;
$triadic-green-2-invert: findColorInvert($triadic-green-2);
$triadic-green-3: #609b00;
$triadic-green-3-invert: findColorInvert($triadic-green-3);
$triadic-green-neon-minus2: #588f00; 
$triadic-green-neon-minus2-invert: findColorInvert($triadic-green-neon-minus2);
$triadic-green-neon-minus1: #70b600; 
$triadic-green-neon-minus1-invert: findColorInvert($triadic-green-neon-minus1);
$triadic-green-neon-0: #92ec00;
$triadic-green-neon-0-invert: findColorInvert($triadic-green-neon-0);
$triadic-green-neon-1: #a7ed35;
$triadic-green-neon-1-invert: findColorInvert($triadic-green-neon-1);
$triadic-green-neon-2: #b8f05e;
$triadic-green-neon-2-invert: findColorInvert($triadic-green-neon-2);



$triadic-purple-minus1: #14011c; 
$triadic-purple-minus1-invert: findColorInvert($triadic-purple-minus1);
$triadic-purple-0: #1a0124;
$triadic-purple-0-invert: findColorInvert($triadic-purple-0);
$triadic-purple-1: #22042e;
$triadic-purple-1-invert: findColorInvert($triadic-purple-1);
$triadic-purple-2: #37014c;
$triadic-purple-2-invert: findColorInvert($triadic-purple-2);
$triadic-purple-3: #510470;
$triadic-purple-3-invert: findColorInvert($triadic-purple-3);
$triadic-purple-neon-minus2: #4b0367; 
$triadic-purple-neon-minus2-invert: findColorInvert($triadic-purple-neon-minus2);
$triadic-purple-neon-minus1: #5f0583; 
$triadic-purple-neon-minus1-invert: findColorInvert($triadic-purple-neon-minus1);
$triadic-purple-neon-0: #7c07a9;
$triadic-purple-neon-0-invert: findColorInvert($triadic-purple-neon-0);
$triadic-purple-neon-1: #8a2dae;
$triadic-purple-neon-1-invert: findColorInvert($triadic-purple-neon-1);
$triadic-purple-neon-2: #9f4fbf;
$triadic-purple-neon-2-invert: findColorInvert($triadic-purple-neon-2);

// Add new color variables to the color map.
@import "../../node_modules/bulma/sass/utilities/derived-variables";
$addColors: (
  "twitter":($twitter, $twitter-invert),
  "linkedin": ($linkedin, $linkedin-invert),
  "github": ($github, $github-invert),
  "triadic-yellow-minus1": ($triadic-yellow-minus1, $triadic-yellow-minus1-invert), 
  "triadic-yellow-0": ($triadic-yellow-0, $triadic-yellow-0-invert),
  "triadic-yellow-1": ($triadic-yellow-1, $triadic-yellow-1-invert),
  "triadic-yellow-2": ($triadic-yellow-2, $triadic-yellow-2-invert),
  "triadic-yellow-3": ($triadic-yellow-3, $triadic-yellow-3-invert),
  "triadic-yellow-neon-minus2": ($triadic-yellow-neon-minus2, $triadic-yellow-neon-minus2-invert), 
  "triadic-yellow-neon-minus1": ($triadic-yellow-neon-minus1, $triadic-yellow-neon-minus1-invert), 
  "triadic-yellow-neon-0": ($triadic-yellow-neon-0, $triadic-yellow-neon-0-invert), 
  "triadic-yellow-neon-1": ($triadic-yellow-neon-1, $triadic-yellow-neon-1-invert), 
  "triadic-yellow-neon-2": ($triadic-yellow-neon-2, $triadic-yellow-neon-2-invert), 
  "triadic-green-minus1": ($triadic-green-minus1, $triadic-green-minus1-invert), 
  "triadic-green-0": ($triadic-green-0, $triadic-green-0-invert),
  "triadic-green-1": ($triadic-green-1, $triadic-green-1-invert),
  "triadic-green-2": ($triadic-green-2, $triadic-green-2-invert),
  "triadic-green-3": ($triadic-green-3, $triadic-green-3-invert),
  "triadic-green-neon-minus2": ($triadic-green-neon-minus2, $triadic-green-neon-minus2-invert), 
  "triadic-green-neon-minus1": ($triadic-green-neon-minus1, $triadic-green-neon-minus1-invert), 
  "triadic-green-neon-0": ($triadic-green-neon-0, $triadic-green-neon-0-invert), 
  "triadic-green-neon-1": ($triadic-green-neon-1, $triadic-green-neon-1-invert), 
  "triadic-green-neon-2": ($triadic-green-neon-2, $triadic-green-neon-2-invert), 
  "triadic-purple-minus1": ($triadic-purple-minus1, $triadic-purple-minus1-invert), 
  "triadic-purple-0": ($triadic-purple-0, $triadic-purple-0-invert),
  "triadic-purple-1": ($triadic-purple-1, $triadic-purple-1-invert),
  "triadic-purple-2": ($triadic-purple-2, $triadic-purple-2-invert),
  "triadic-purple-3": ($triadic-purple-3, $triadic-purple-3-invert),
  "triadic-purple-neon-minus2": ($triadic-purple-neon-minus2, $triadic-purple-neon-minus2-invert), 
  "triadic-purple-neon-minus1": ($triadic-purple-neon-minus1, $triadic-purple-neon-minus1-invert), 
  "triadic-purple-neon-0": ($triadic-purple-neon-0, $triadic-purple-neon-0-invert), 
  "triadic-purple-neon-1": ($triadic-purple-neon-1, $triadic-purple-neon-1-invert), 
  "triadic-purple-neon-2": ($triadic-purple-neon-2, $triadic-purple-neon-2-invert)
);


$colors: map-merge($colors, $addColors);

// Set other pre-existing colors
$text: $triadic-yellow-1;
$link: $triadic-yellow-neon-0;

// Navbar variables
$navbar-background-color: transparent;
$navbar-box-shadow-size: 0 2px 0 0;
$navbar-box-shadow-color: transparent;
$navbar-height: 3.25rem;
$navbar-padding-vertical: 1rem;
$navbar-padding-horizontal: 2rem;
$navbar-z: 30;
$navbar-fixed-z: 30;
$navbar-item-color: $triadic-yellow-2;
$navbar-item-hover-color: $triadic-yellow-neon-2;
$navbar-item-hover-background-color: transparent;
$navbar-item-active-color: $triadic-yellow-neon-0;
$navbar-item-active-background-color: transparent;
$navbar-item-img-max-height: 1.75rem;
$navbar-burger-color: $navbar-item-color;
$navbar-tab-hover-background-color: transparent;
$navbar-tab-hover-border-bottom-color: transparent;
$navbar-tab-active-color: $link;
$navbar-tab-active-background-color: transparent;
$navbar-tab-active-border-bottom-color: transparent;
$navbar-tab-active-border-bottom-style: solid;
$navbar-tab-active-border-bottom-width: 0px;
$navbar-dropdown-background-color: transparent;
$navbar-dropdown-border-top: 0px solid $border;
$navbar-dropdown-offset: -4px;
$navbar-dropdown-arrow: $link;
$navbar-dropdown-radius: $radius-large;
$navbar-dropdown-z: 20;
$navbar-dropdown-boxed-radius: $radius-large;
$navbar-dropdown-boxed-shadow: 0 8px 8px bulmaRgba($scheme-invert, 0.1), 0 0 0 1px bulmaRgba($scheme-invert, 0.1);
$navbar-dropdown-item-hover-color: $scheme-invert;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-item-active-color: $link;
$navbar-dropdown-item-active-background-color: transparent;
$navbar-divider-background-color: transparent;
$navbar-divider-height: 2px;
$navbar-bottom-box-shadow-size: 0 -2px 0 0;
$navbar-breakpoint: $desktop;
$navbar-colors: $colors;

// Import the rest of Bulma
@import "../../node_modules/bulma/bulma";
