@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

$body-background-color: #000000;
$primary: #000000;

$triadic-yellow-minus1: #2a2300;
$triadic-yellow-0: #362e00;
